.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
  min-height: 100vh;
background: linear-gradient(135deg, #0f0f0f 0%, #05161a 100%);
  transition: all 0.3s ease;
}

@media (max-width: 991.98px) {
  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
    padding-bottom: 80px;
  }
}